package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Test TODO</title>
		</head>
		<body class="border-red-50">
			{ children... }
		</body>
	</html>
}
